Bio
bs4
selenium
sentence-transformers
tqdm
faiss-cpu
huggingface
pydicom
langgraph
langchain
langchain-community
datasets
kaggle
torch 
transformers 
peft 
bitsandbytes 
accelerate
ollama
dotenv
googletrans
ruff
groq
langchain_groq
fastapi
uvicorn
sqlmodel
email-validator
passlib
PyJWT
python-multipart
