sentence-transformers
tqdm
faiss-cpu
huggingface
pydicom
langgraph
langchain
langchain-community
torch 
transformers 
peft 
bitsandbytes 
accelerate
ollama
dotenv
googletrans
groq
langchain_groq
uvicorn
sqlmodel
email-validator
passlib
PyJWT
python-multipart
langdetect
deep_translator
fastapi